
/* ----------- All Pages Styling (header, nav, footer) --------- */
*{
	box-sizing: border-box;
}

html, body{
	height: 100%;
	width: 100%;
	background-color: rgb(239,241,246);
}

h2{
	font-size: 2.0em;
	font-family: 'Andika', sans-serif;
}

/* Header */
header{
	height: 150px;
	width: 100%;
	padding-top: 15px;
}

header h1{
  text-align: center;
  color: rgb(46, 74, 121);
  font-size: 46px;
  font-family: 'Andika', sans-serif;
}


/* Nav */
nav{
	background-color: rgb(46, 74, 121);
	height: 50px;
	width: 100%;
}

nav ul, nav a, nav li{
	list-style: none;
	text-decoration: none;
	font-weight: bold;
	display: inline-block;
	color: white;
	margin-right: 40px;
}

nav p{
	position: absolute;
	top: 150px;
	right: 8%;
	font-size: 18px;
	color: white;
	font-family: 'Andika', sans-serif;
}

/* Footer */
footer{
	background-color: black;
	height: 150px;
	width: 100%;
	color: white;
}

footer p:first-child{
	font-size: 1.3em;
}

.media i{
	margin-right: 10px;
	margin-left: 10px;
}

.media{
	text-align: center;
	position: relative;
	top: 20px;
}

footer p:last-child{
	float: left;
	position: relative;
	top: 35px;
	font-size: 0.8em;
}

/* ------------------ HOME PAGE ----------------- */

/* #What is ClothBot?, Why ClothBot? */
#what, #why{
	width: 100%;
	text-align: center;
	padding: 20px 320px;
}

/* align paragraph text */
#what p, #why p{
	text-align: left;
}

/*Features container */
#features{
	background-color: rgba(30,87,153,0.3);
	width: 100%;
	padding: 50px 200px;
	box-shadow: 25px 10px 30px black;
}

/* Features images */
#feature-imgs{
    width: 45%;	
	display: flex;
	flex-direction: row;
	overflow: scroll;
	position: absolute;
	top: 443px;
	left: 50%;
}

#feature-imgs img{
	height: 400px;
	width: auto;
}

/* Features list */
#features ul, #features li{
	list-style: none;
	font-size: 1.1em;
	line-height: 45px;
}

/* ----------------- Tech Page ----------------- */

/* CONTAINERS */

/* What is 3D Printing?, Display Screen */
 #printing, #display-screen{
   width: 100%;
   padding-top: 20px;
   padding-bottom: 20px;
   padding-left: 50px;
   padding-right: 50px;
   text-align: left;
}

/* Measurements container */
#measurements{
	background-color: rgba(30,87,153,0.3);
	height: 400px;
	width: 100%;
	transform: skewY(1deg);
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 120px;
	box-shadow: 25px 10px 30px;
}

/* Process container */
#how-it-works{
	background-color: rgba(30,87,153,0.3);
	text-align: center;
	height: 450px;
	width: 35%;
	padding-top: 2px;
	padding-left: 50px;
	padding-right: 50px;
	position: absolute;
	left: 55%;
	top: 1000px;
	box-shadow: 25px 10px 30px;
	transform: rotate(-2deg);
	overflow: scroll;
}

/* TEXT CONTENT */
/* What is 3D Printing text content */
#printing .content, #display-screen .content{
	width: 50%;
}

/* Measurements text content */
#measurements .content{
	width: 45%;
	transform: skewY(-1deg);
	position: absolute;
	left: 50%;
	top: 50px;
}

/* Process content */
#steps{
	text-align: left;
	line-height: 50px;
	transform: skewX(1deg);
}


/* FIGURES */

/* What is 3D Printing video */
#printing-video{
	position: absolute;
	top: 250px;
	left: 60%;
}


/* Measurements image */
#measurements img{
	position: absolute;
	top: 50px;
}

#touch-video{
	position: relative;
	left: 50px;
	top: 15px;
}


/* -------------------- Our Team Page -------------------- */

/* People container */
#people{
	margin-top: 30px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

/* fig caption */
#people figcaption{
	text-align: center;
}

/* hover effects */
#people img:hover, #people figcaption:hover{
 transform: scale(1.2);
}

/* -------------------- Contact Styling -------------------- */

/* Form Container */
#contact #form-container{
	height: 500px;
	width: 75%;
	margin: 30px auto;
	border: 1px dotted rgb(46, 74, 121);
	background-color: rgba(30,87,153,0.3);
	box-shadow: 5px 5px 30px;
}

#form-container form{
	margin-top: 75px;
	text-align: center;
}

/* message input position */
 #form-container #message{
	margin-right: auto;
	margin-left: auto;
}


/* firstName, lastName inputs */
#firstName, #lastName{
	display: inline-block;
	margin-bottom: 5px;
}

/* phone number, email inputs */
#number, #email{
	display: inline-block;
	margin-bottom: 5px;
}

/* text area dimensions */
#message{
	height: 200px;
	width: 80%;
	display: block;
}

/* Send Button */
#sendBtn{
	margin-top: 5px;
	width: 125px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

/* Input dimensions */
#contact input{
	width: 40%;
	height: 45px;
}



/* MEDIA QUERIES */

@media only screen and (max-width: 1024px){
    
    /* HOME Page */
    nav{
    	height: 100px;
    }
    
    /* Make Nav block */
    nav li{
    	display: block;
    }

     /* adjust section paddings */
	#what, #why{
		padding: 50px 50px;
	}

	/* Hide images */
	#feature-imgs{
	display: none;
	}

	/* TECH Page */

   /* center section text */
   #printing .content, #display-screen .content{
   	margin-left: 30%;
   }

	/* Hide figures */
	#printing-video, #measurements img, #touch-video{
		display: none;
	}
     
     /* Move How-it-works container */
	#how-it-works{
		position: absolute;
		left: 10%;
		top: 600px;
		background-color: white;
	}

	

}

@media only screen and (min-width: 1024px) and (max-width: 1280px){
	/* HOME Page */
	/* adjust seciton paddings */
	#what, #why{
		padding: 50px 50px;
	}

   /* align images to container */
	#feature-imgs{
		position: absolute;
		top: 485px;
	}


}


