
body{
	height: 100%;
	padding: 20px 50px;
	background-color: rgba(23,54,65,0.2);
}

/* Example font */
h2{
	font-weight: normal;
}

#box-container{
	width: 100%;
	height: 500px;
	background-color: rgba(23,54,65,0.5);
	border-radius: 5px;
}

/* Individuals boxes default */
#box1{
	height: 200px;
	width: 200px;
	background-color: orange;
	position: absolute;
	top: 550px;
	left: 150px;
}

#box2{
	height: 100px;
	width: 100px;
	background-color: pink;
	position: absolute;
	left: 550px;
	top: 750px;
	
}

#box3{
	height: 150px;
	width: 300px;
	background-color: white;
	border: 3px solid blue;
	position: absolute;
	left: 800px;
	top: 500px;
}

/* Individual boxes on hover */
#box1:hover{
	background-color: green;
	transition: all 2s linear;
	transform: rotate(1720deg);
	height: 300px;
	width: 300px;
	
}

#box2:hover{
	transition: all 3s ease;
	background-color: black;
	transform: translate(100px,-200px);
}

#box3:hover{
	transition: all 2s linear;
	height: 0px;
	width: 0px;
	border-left: 150px solid orange;
	border-right: 150px solid black;
	border-top: 150px solid pink;
	border-bottom: 150px solid green;

}
