
/* ---------- Styles for all Screen Sizes ------------- */

*{
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	margin: 0px;
}

/* -----------  NAVBAR ------------- */


/* HEADER Styling */
.header-container{
	background-color:rgb(228,252,249);
	width: 100%;
	height: 800px;
	padding: 0px 50px; 
}

#header-content{
	width: 450px;
	height: 500px;
	position: relative;
	top: 20%;
}


/* ---------------- Contact Form --------------- */
#name, #email{
	height: 40px;
	width: 200px;
	display: inline;
}

#subject{
	height: 40px;
	width: 402.5px;
	display: block;
	margin-top: 5px;
}

#message{
	margin-top: 5px;
	height: 200px;
	width: 402.5px;
	display: block;
}

#send{
	width: 100px;
	height: 40px;
	margin-top: 5px;
	position: relative;
	left: 300px;
	background-color: rgb(29,129,229);
	color: white;
	font-size: 14px;
	font-family: 'Gafata', sans-serif;
}


/* ------------ About Section ------------ */

hr{
	background-color: rgb(76,252,216);
	border: 0;
    height: 15px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#about-container{
	width: 100%;
	padding: 100px 100px;
	background-color: rgb(5,47,90);
	border-top: 2px solid rgb(76,252,216);
}


#about-me h1{
	color: rgb(76,252,216);
	font-family: 'Lalezar', cursive;
}

#about-me p{
	line-height: 22px;
	font-family: 'Gafata', sans-serif;
}




#triangle-down {
  width: 100%;
  height: 0px;
  border-left: 50vw solid transparent;
  border-right: 50vw solid transparent;
  border-top: 75px solid rgb(5,47,90);
  position: absolute;
  z-index: 2;
}


/* ----------- Projects Section ---------- */

#projects-container{
	background-color:rgb(218,238,239);
	padding-top: 100px;
	position: relative;
}


#projects-container h1{
	text-align: center;
	width: 100%;
	font-family:'Lalezar', cursive;
	color: rgb(5,47,90);
	clear: right;
}

/* flex grid layour for gallery divs */
#projects-gallery{
	padding: 0px 100px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

/* individiual project content */
.projects {
	background-color: rgb(5,47,90);
	border-radius: 5px;
	box-shadow: 2px 2px 20px;
	height: 200px;
	width: 325px;
	margin-bottom: 30px;
	border: 1px solid rgb(76,252,216);
	position: relative;
}



/* individual content inside container */
 
.projects img{
	display: block;
	margin: auto;
	width: 300px;
	height: 180px;
	margin-top: 10px;
}

/* Project title */
#projects-gallery h3, #projects-gallery p{
	font-family: 'Gafata', sans-serif;
}

@keyframes growContent{
	from{height:0px;}
	to{height: 200px;}
}

.grow-content{
	animation-name: growContent;
	animation-duration: 0.5s;
	height: 200px;
	
}

@keyframes shrinkContent{
	from{height: 200px;}
	to{height: 0px;}
}

.shrink-content{
	animation-name: shrinkContent;
	animation-duration: 1s;
	height: 0px;
}

 .projects-content{
 	display: none;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	color: black;
	overflow: hidden;
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(41,191,255,0.95)), color-stop(97%, rgba(55,129,126,0.95)), color-stop(100%, rgba(56,128,123,0)));
}

.projects-content h3{
	text-align: center;
	font-size: 32px;
	margin-top: -2px;
	margin-bottom: -5px;
}



/* ------------------------ Media Queries ------------------------ */

/* -------------- Below 640px ---------- */
@media only screen and (max-width: 640px){
	
#contactBtn, #skillsContainer, #navBar, #skills-container, #contact-form-main input, #contact-form-main textarea {
	display: none;
}

#header-content{
	margin-left: auto;
	margin-right: auto;
}

 #intro{
	color: rgb(5,47,90);
	font-size: 38px;
	font-family: 'Lalezar', cursive;
	letter-spacing: 1px;
	margin-bottom: 40px;
}

/* Mobile Contact Form */
#contact-form-mobile{
    position: absolute;
	top: 350px;
	margin-left: 10%;
	min-width: 450px;
 }

}



/* ---------- Starting at width 640px ------------ */
@media only screen and (min-width: 640px){


  #navBar{
  background-color: transparent;
  width: 100%;
  height: 50px;
  padding-right: 100px;
  position: fixed;
  display: block;
  border-bottom: 0.5px solid rgb(76,252,216);
  z-index: 3;
}

#navBar:hover{
	background-color: rgb(5,47,90);
}

#navBar .main-nav ul{
	list-style: none;
	display: inline-block;
	position: relative;
	bottom: 5px;
}

#navBar .sites-nav ul{
	list-style: none;
	display: inline-block;
	float: right;
	position: relative;
	bottom: 5px;
}

#navBar i{
	color: rgb(76,252,216)
}

#navBar i:hover {
	color: rgb(29,129,229);
}

#navBar .main-nav li{
  display: inline-block;
  margin-left: 75px;
}

#navBar .sites-nav li{
	display: inline-block;
	margin-left: 50px;
	
}
 


/* ----------------- Intro "Welcome" -------------- */


#header-content{
	margin-left: auto;
	margin-right: auto;
}

#header-content #intro{
	color: rgb(5,47,90);
	font-size: 42px;
	font-family: 'Lalezar', cursive;
	letter-spacing: 1px;
	margin-bottom: 40px;
	position: absolute;
	top: -520px;
	min-width: 550px;
}



/* Letter animation */
@keyframes animateLetters{
	from {
		position: absolute;
		top: -520px;
	}

	to{
        position: relative;
        top: 450px; 
	}
}

.animateLetter{
	animation-name: animateLetters;
	animation-duration: 1s;
	font-size: 60px;
	font-family: 'Lalezar', cursive;
	letter-spacing: 1px;
	position: relative;
	top: 450px;
	
}

.animateLetter:hover{
	color: rgb(76,252,216);
}


#header-content button{
	position: absolute;
	top: 275px;
	left: 10%;
}

/* Contact Btn */
#contactBtn{
    height: 300px;
	width: 30%;
	border-radius: 10px;
	background-color: transparent;
	color: rgba(29,129,229,0.5);
	display: block;
	position: absolute;
	top: 325px;
	left: 13%;
	border: 30px solid rgba(29,129,229,0.5);
	font-family: 'Gafata', sans-serif;
	font-size: 38px;
	box-shadow: 0px 0px 0px 5px rgb(76,252,216);
}

#contactBtn:hover{
	border-radius: 100%;
	border-color: rgb(76,252,216);
	color: rgb(76,252,216);
}




/* ---------------- Contact Form --------------- */


#contact-form-mobile{
	display: none;
}

#contact-form-main{
	display: none;
	background-color: rgba(5,47,90,0.8);
	height: 800px;
	width: 500px;
	padding-top: 250px;
	padding-left: 40px;
	padding-right: 40px;
	position: fixed;
	top: 0px;
	z-index: 6;
}

#main-form-container{
	width: 500px;
    float:right;
    margin-right: -50px;
}



/* ---------- SKILLS ANIMATION STYLING -----------*/
#skills-btn{
	position: absolute;
	top: 325px;
	left: 55%;
	height: 300px;
	width: 30%;
	border-radius: 10px;
	border: 30px solid rgb(5,47,90);;
	background-color: transparent;
	color: rgb(5,47,90);;
	font-family: 'Gafata', sans-serif;
	font-size: 38px;
	box-shadow: 0px 0px 0px 5px rgb(76,252,216);
}

#exitBtn{
	height: 40px;
	width: 100px;
	background-color: transparent;
	border: 3px solid rgb(76,252,216);
	color: rgb(76,252,216);
	position: absolute;
	top: 5px;
	left: 5px;
}

#skills-btn:hover{
	border-radius: 50%;
	border-color: rgb(76,252,216);
	color: rgb(76,252,216);
}


#skills-container{
	height: 100%;
	width: 100%;
}

#skills{
	background-color: rgb(5,47,90);
	height: 60%;
	width: 60%;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	bottom: 45%;
	display: none;
	padding-top: 5px;
	padding-bottom: 20px;
}

#skills h2{
	text-align: center;
	font-family: 'Lalezar', cursive;
	color: rgb(76,252,216);
	margin-bottom: -10px;
}

#html5-container, #css3-container, #bootstrap4-container, #sass-container, #javascript-container, #jquery-container, #react-container{
	background-color: grey;
	height: 9%;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	color: white;
	position: relative;
}

#skills p{
	background-color: grey;
	background-color: white;
	height: 100%;
	width: 100px;
	position: relative;
	z-index: 1;
	padding-top: 13px;
	padding-left: 10px;
	font-weight: bolder;
	font-family: 'Gafata', sans-serif;
}

#html5-container p{
	color: white;
	background-color: orange;
}
#css3-container p{
	color: white;
	background-color: blue;
}
#bootstrap4-container p{
	color: white;
	background-color: purple;
}
#sass-container p{
	color: white;
	background-color: pink;
}
#javascript-container p{
	color: white;
	background-color: khaki;
	padding-top: 0px;
}
#jquery-container p{
	color: white;
	background-color: darkblue;
}
#react-container p{
	color: white;
	background-color: lightblue;
}



.progress-bar{
	opacity: 0.6;
	height: 100%;
	width: 0%;
	position: absolute;
	top: 0px;
	z-index: 0;
}

#html5-container .progress-bar{
	background-color: orange;
}
#css3-container .progress-bar{
	background-color: blue;
}
#bootstrap4-container .progress-bar{
	background-color: purple;
}
#sass-container .progress-bar{
	background-color: pink;
}
#javascript-container .progress-bar{
	background-color: khaki;
}

#jquery-container .progress-bar{
	background-color: darkblue;
}
#react-container .progress-bar{
	background-color: lightblue;
}






/* ------------ About Me -------------- */
#about-me{
	max-width: 600px;
}

}



/* -------- Vertical Navbar -------- */
/*
  #navBar{
  background-color: transparent;
  width: 60px;
  height: 100%;
  position: fixed;
  display: block;
  border-right: 0.5px solid rgb(76,252,216);
  z-index: 3;
}

#navBar:hover{
	background-color: rgb(5,47,90);
}

#navBar .main-nav ul{
	margin-top: 50px;
	list-style: none;
}

#navBar .sites-nav ul{
	margin-top: 275px;
	list-style: none;
}

#navBar i{
	color: rgb(76,252,216)
}

#navBar i:hover {
	color: rgb(29,129,229);
}

#navBar .main-nav li{
  margin-top: 100px;
  margin-left: -25px;
}

#navBar .sites-nav li{
	margin-top: 30px;
	margin-left: -25px;
}
*/
